<<<<<<< HEAD
#container{
    margin: 15px auto;
    max-width: 800px;
}

label{
    display: block;
    margin: 10px auto 0 auto;
}
=======
>>>>>>> 93d7693a6bb4e3570acf3406143a1c18e80e0398
button{
    color: white;
    background-color: red;
    margin: 11px;
    padding: 11px 11px;
 	cursor: pointer;
 	font-size: 12px;
}

#textBlock{
    margin: 60px auto;
    max-width: 550px;
    text-align: center;
}
