#container{
    height: 455px;
    position: relative;
  }
  
#box{
    width: 450px;
    border: 10px solid crimson;
    text-align: center;   
} 

button{
    color: white;
    background-color: red;
    margin: 10px;
    padding: 10px 10px;
  	cursor: pointer;
  	font-size: 12px;
}