button{
    color: white;
    background-color: red;
    margin: 8px;
    padding: 10px 12px;
 	cursor: pointer;
 	font-size: 12px;
}

#textBlock{
    margin: 70px auto;
    max-width: 500px;
    text-align: center;
}

